// ------------------------------------------------------------
// Header
// ------------------------------------------------------------


.header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(4%, #124555), color-stop(20%, #155366));
  background: linear-gradient(0deg, #124555 4%, #155366 20%);
  margin-bottom: 2em;
  padding-top: 10em;
  padding-bottom: 2.5em;
  /* margin-top from -15.5em to add spacing for testing header */
  margin-top: -7.5em;
  position: relative;
  width: 100%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);

  &:after {
    content: "";
    background-image: url('~/static/svg/source/marque-white-animated.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.25;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .main-title {
    position: relative;
    h2 {
      border-left: 5px solid #81c3d6;
      padding-left: 20px;
      font-size: 60px;
    }
    color: #fff;
    padding-left: 20px;

    @media (max-width: 600px) {
      h2 {
        font-size: 45px;
      }
    }
  }

  nav {
    max-width: 1200px;
    margin: 0em auto 3em auto;
    z-index: 10;
    padding: 1em 1.5em;

  }
  @media (max-width: 1200px) {
    nav {
      margin-right: 2em;
      margin-left: 2em;
    }
  }

}