$iati-ocean                         :#155366;
$iati-rain                          :#0e97a5;
$iati-air                           :#06dbe4;
$iati-land                          :#00c497;
$iati-sunset                        :#f73357;
$iati-sunrise                       :#ff7264;
$iati-wind                          :#a66ee9;
$iati-ash                           :#E3E3E3;

$iati-land-light                    :#91E0CE;
$iati-air-light                     :#b6e4e5;
$iati-sunrise-light                 :#faecea;


$heading-color						: #121212;

$a-vp								: 300px;
$b-vp 								: 500px;
$c-vp 								: 780px;
$d-vp 								: 1000px;
$e-vp 								: 1200px;

$epsilon	: 16;

$rembase 			: 10;
